@model Chat.Models.LoginModel

@{
    ViewBag.Title = "Entrar";
}

<section id="loginForm">

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Formulário de logon</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Entrar" />
    </fieldset>
}
</section>
<div class="conteudo">


    <div class="quadrado">


        <form class="col s12">
            <div class="row teste2">
                <i class="material-icons left" class="centered">perm_identity</i></a>
                <div class="input-field col s11 teste2">

                    <input id="username" type="text" class="validate">

                    <label for="username">UserName</label>
                </div>
            </div>
            <div class="row">
                <i class="material-icons left" class="centered">vpn_key</i></a>

                <div class="input-field col s11">

                    <input id="password" type="password" class="validate">
                    <label for="password">Senha</label>
                </div>
            </div>
            <div class="botoes-login center-align">
                <a href="login.html" id="entrar" class="waves-effect waves-light btn btn-entrar grey darken-3"><i class="material-icons right" class="centered"></i>Entrar</a>
                <a href="registro.html" id="registrar" class="waves-effect waves-light btn btn-registrar  grey darken-3"><i class="material-icons right" class="centered"></i>Registrar</a>
            </div>

        </form>


    </div>
</div>

<section class="social" id="socialLoginForm">
    <h2>Use outro serviço para entrar.</h2>
    @Html.Action("ExternalLoginsList","Account", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
